:root {
    --text-secondary-color: #757575;
    --secondary-background-color: #2F303A;
    --button-color: #F5F4FA;
    --highlight-color: #2196F3;
}

body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #212121;
}

ul,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover, a:focus, a:active {
    color: var(--highlight-color)
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

menu {
    border-bottom: 1px solid #ECECEC;
}

.menu-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'raleway', sans-serif;
    font-size: 26px;
    line-height: 1.17;
    color: #2196F3;
}
    
.logo-menu {
    color: #000
}

.logo-footer {
    color: #FFFFFF;
}

nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    margin-left: 93px;
    gap: calc(150px/3)
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-secondary-color);
    display: flex;
    justify-content: end;
}

.banner {
    height: 600px;
    background: var(--secondary-background-color);
}

.banner-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 200px;
}

.main-button {
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
    background-color: var(--highlight-color);
    color: #FFFFFF;
    width: 200px;
    height: 50px;
}

.article-list {
    list-style-type: none;
    font-size: 14px;
    line-height: 1.17;
    /* display: inline-flex;
    gap: 30px; */
}

.article-text {
    color: var(--text-secondary-color);
    font-size: 14px;
    line-height: 1.7;
}

.what-we-do {
    /* box-sizing: border-box; */
}

.section-header {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
}

.img-list {
    box-sizing: border-box;
    list-style: none;
    display: flex;
    padding-top: 50px;
    gap: 30px;
    align-content: space-between;
}

.our-team {
    box-sizing: border-box;
}

.team-images {
    display:inline-flex
}

.team-card {
    
}

.team-name {
    font-weight: 500;
}

.team-job {
    color: var(--text-secondary-color);
}

/* .team-img-list {
    box-sizing: border-box;
    list-style: none;
    display: inline-flex;
    padding: 50px;
    gap: ;
} */

.bottom {
    background-color: var(--secondary-background-color);
    color: #FFFFFF;
    line-height: 1.7;
}

.studio-address {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
}

.portfolio-filters {
    list-style-type: none;
}

.portfolio-main {
    color: var(--text-secondary-color);
    line-height: 2;
}

.portfolio-name {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
}

.portfolio-button {
    background-color: var(--button-color);
    color: #212121;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
}

.portfolio-button:hover {
    background-color: var(--highlight-color);
    color: #FFFFFF;
}

.portfolio-button:focus {
    background-color: var(--highlight-color);
    color: #FFFFFF;
}